<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    {% for familiar in datos %}
        <p>{{familiar.nombre}}</p>
        <p>{{familiar.apellidos}}</p>
        <p>{{familiar.edad}}</td>
        <p>{{familiar.cumpleaños}}</p>
        <p>{{familiar.locacion}}</p>
    {% endfor %}


</body>
</html>